<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!--
		<add name="ApplicationServices" connectionString="Data Source=;Initial Catalog=;Persist Security Info=True; User ID=; Password=; " providerName="System.Data.SqlClient" />
		<add name="LogDataConnection" connectionString="Data Source=;Initial Catalog=;Persist Security Info=True; User ID=; Password= " providerName="System.Data.SqlClient" />
		-->
	</connectionStrings>
	<!---->
	<appSettings>
		<add key="application:url" value="https://ywapom.com" />
		<!---->
		<add key="login:username" value="" />
		<add key="login:password" value="" />
		<!---->
		<add key="chrome:setting1" value="--window-size=1500,1000" />
		<add key="chrome:setting2" value="--window-position=5,5" />
		<add key="chrome:setting3" value="--headless" />
		<add key="browser:leave-open" value="false" />
		<!---->
		<add key="test:drop-down-options" value="disabled" />
		<add key="test:ui" value="enabled" />
		<add key="test:spelling" value="enabled" />
		<add key="log:logTestWarnings" value="enabled" />
		<add key="log:logPassingTests" value="disabled" />
		<add key="log:testOutputType" value="debug" />
		<!---->
		<add key="RanOneTimeSetup" value="false" />
		<add key="TestRunFolder" value="" />
		<add key="dllhost:kill" value="true" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="xunit.core" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="xunit.execution.desktop" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>